In [1]:
import pandas as pd

In [2]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [6]:
df1 = pd.DataFrame(data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [9]:
index = ['Linha ' + str(i) for i in range(3)]
columns = ['Coluna ' + str(i) for i in range(3)]

In [10]:
df1 = pd.DataFrame(data = data, columns = columns, index = index)
df1

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

In [12]:
dados = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(dados, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D