In [1]:
import pandas as pd

In [4]:
data = [(1, 2, 3, 4),
       (5, 6, 7, 8),
       (8, 10, 11, 12),
       (13, 14, 15, 16)]
df = pd.DataFrame(data, 'L1 L2 L3 L4'.split(), 'C1 C2 C3 C4'.split())
df

    C1  C2  C3  C4
L1   1   2   3   4
L2   5   6   7   8
L3   8  10  11  12
L4  13  14  15  16

In [6]:
df['C1']

L1     1
L2     5
L3     8
L4    13
Name: C1, dtype: int64

In [8]:
df[['C3', 'C1']]

    C3  C1
L1   3   1
L2   7   5
L3  11   8
L4  15  13

In [14]:
df[2:3]

    C1  C2  C3  C4
L3   8  10  11  12

In [15]:
df

    C1  C2  C3  C4
L1   1   2   3   4
L2   5   6   7   8
L3   8  10  11  12
L4  13  14  15  16

In [16]:
df.loc['L1', 'C2']

2

In [17]:
df.iloc[0, 1]

2

In [18]:
df.loc[['L3', 'L1'], ['C4', 'C1']]

    C4  C1
L3  12   8
L1   4   1